* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Jost;
  --main-color: #081A2B;
  --primry-color: #FFFFFF;
  --header-button-color: #C6A136;
  --button-color: #0D89CA;
}

h1 {
  color: var(--primry-color)
}

h2 {
  color: var(--main-color);
  font-style: normal;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 6.9rem;
  letter-spacing: 0.02rem;
}

button {
  width: 23.6rem;
  height: 5.2rem;
  left: 8rem;
  top: calc(50% - 5.2rem/2 - 390.382rem);
  font-family: Jost;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.9rem;
  border: 1px solid var(--primry-color);
}

a,
li,
button {
  color: var(--primry-color);
}

p {
  color: var(--main-color);
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.5rem;
  letter-spacing: 0.02rem;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

/*-----our navbar styles----*/

header {
  background-image: url(../images/landingBackground.png);
  height: 100%;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: #058ACC;
}

header .header-main {
  padding: 5.5rem 8rem 16.4rem 8rem;
  max-width: 144rem;
  width: 100%;
  margin: 0 auto;
}

header a {
  font-size: 18px;
  color: var(--primry-color);
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 15.6rem;
}

header nav .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .logo a {
  width: 15.1rem;
  height: 6.1rem;
}

header .nav-menu {
  display: flex;
  height: inherit;
  align-items: center;
  justify-content: space-between;
  max-width: 100rem;
  width: 100%;
}


header .nav-menu a li {
  font-size: 1.8rem;
  line-height: 3.6rem;
  text-transform: capitalize;
  transition: all 0.2s;
}

header .nav-menu a li:hover {
  color: var(--header-button-color)
}

/*-----Hero section styles----*/

.hero-section {
  width: 100%;
  height: 100%;
}

.hero-section h1 {
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02rem;
  width: 89.8rem;
  font-size: 7.4rem;
  line-height: 10.7rem;
  margin-bottom: 19.818rem;
}

.hero-section button {
  background: #CEA93A;
  border-color: var(--header-button-color);
}

.hero-section button:hover {
  background: var(--primry-color);
  color: var(--header-button-color);
  border-color: var(--header-button-color);
}

/*-----About Us section styles----*/

.main {
  max-width: 144rem;
  width: 100%;
  margin: 0 auto;
}

.about-us {
  padding: 8.9rem 8rem 13.4rem 8rem;
  display: grid;
  grid-template-columns: 47.96% 41.01%;
  column-gap: 14.1rem;
}

.about-us .left-side {
  width: inherit;
  height: inherit;
}

.about-us .left-side h2 {
  max-width: 18.3rem;
  width: 100%;
  margin-bottom: 6.5rem;
}

.about-us p {
  max-width: 61.4rem;
  width: 100%;
  margin-bottom: 2.4rem;
}

.about-us .left-side button {
  background: var(--button-color);
  border-color: var(--button-color);
}

.about-us .left-side button:hover {
  background: var(--primry-color);
  color: var(--button-color);
}

.about-us .left-side #hollow {
  background: var(--primry-color);
  color: var(--button-color);
}

.about-us .left-side #hollow:hover {
  background: var(--button-color);
  color: var(--primry-color);
}

.about-us .left-side #filled {
  margin-right: 8.3rem;
}

.about-us .right-side figure {
  max-width: 52.5rem;
  width: 100%;
}

/*-----Offerings section styles----*/

.offerings {
  padding: 0 8rem 10rem 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offerings h2 {
  margin-bottom: 3rem;
}

.offerings p {
  margin-bottom: 7.9rem;
}

.offerings .services {
  display: flex;
  justify-content: space-between;
  width: 100%;
}